.gk{
    width: 300px;
}
.klo{
    margin-left: 230px;
}
.kok{
    display: block!important;
}

.kj{
    text-align: center;
}
.joj{
    margin-left: 260px;
}
.koko{
    margin-left: 200px;
}
.nb{
    margin-top: 120px;
}
.nko{
    margin-right: 330px;
}
.j{
    text-align: center;
}
.navbar-item >li{
    margin-left:30px;
  margin-right:30px;
}
.hu{
    background-color: #343A40;
}
.kol{
    background-color: #343A40;
    
}
.nn{
    background-color: #48aa84;
}
.v{
    color: white;
}
.l{
    color: white;
}
.linkin{
    text-decoration: none !important;
}
.now{
    margin-left: 70px;
}
.bv{
    margin-top: 150px;
}
.oi{
    color: white;
}
.logoq{
    margin-left: 500px  ;
    margin-top: 70px;
}
.few{
    margin-left: 500px;
    color: rgb(241, 11, 11);
    margin-top: 200px;
    
}
.kb{
    color: white;
}

.asa{
margin-left: 550px;
}